/resources/public/styles-out.css
/resources/public/js/
/resources/tmp/
/resources/server/
/out
/node_modules
.idea/
/.eastwood
/target/stale/leiningen.core.classpath.extract-native-dependencies
/target/classes/META-INF/maven/app/app/pom.properties
